@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&family=Heebo:wght@300;400;500;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-main;
  background-color: $cream;
  color: $brown-deep;
  direction: rtl;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: $font-main;
  border: none;
  background: none;
}

img {
  display: block;
  max-width: 100%;
}
